{{ define "main" }}
  <div class="sm:px-8 mt-32">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl">
              {{ .Title }}
            </h1>
            {{ with .Content }}
              <div class="mt-6 text-base text-zinc-400">
                {{ . }}
              </div>
            {{ end }}
          </header>
          
          {{ if .Pages }}
            <div class="mt-16 sm:mt-20">
              <div class="md:border-l md:border-zinc-700/40 md:pl-6">
                <div class="flex max-w-3xl flex-col space-y-16">
                  {{ range .Pages }}
                    <article class="md:grid md:grid-cols-4 md:items-baseline">
                      <div class="md:col-span-3 group relative flex flex-col items-start">
                        <h2 class="text-base font-semibold tracking-tight text-zinc-100">
                          <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-800/50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl"></div>
                          <a href="{{ .RelPermalink }}" class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" tabindex="-1"></a>
                          <a href="{{ .RelPermalink }}" class="relative z-10">
                            {{ .LinkTitle }}
                          </a>
                        </h2>
                        <time class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-500" datetime="{{ .Date }}">
                          <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                            <span class="h-4 w-0.5 rounded-full bg-zinc-500"></span>
                          </span>
                          <span class="ml-3">{{ .Date.Format "January 2, 2006" }}</span>
                        </time>
                        {{ with .Summary }}
                          <div class="not-prose relative z-10 mt-2 text-sm text-zinc-400">{{ . }}</div>
                        {{ end }}
                        <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-yellow-500">
                          Read article
                          <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="ml-1 h-4 w-4 stroke-current">
                            <path d="m6.75 5.75 2.5 2.25-2.5 2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                        </div>
                      </div>
                      <time class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-500" datetime="{{ .Date }}">
                        {{ .Date.Format "January 2, 2006" }}
                      </time>
                    </article>
                  {{ end }}
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
